$button-bg: #118cf0;
$common-bg: #ffffff;
$secondary-bg: #f2f2f2;

@mixin button-shape {
  border: 1px solid $button-bg;
  background-color: $button-bg;
  color: $common-bg;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 20px;
  display: block;
  margin: 10px auto 0 auto;
}

@mixin bordered($color, $radius) {
  border: 1px solid $color;
  border-radius: $radius;
  background-color: $color;
}

@mixin input-box {
  width: 100%;
  background-color: $secondary-bg;
  border: 1px solid $secondary-bg;
  border-radius: 4px;
}
