@import "mixins";

.disable-outside-clicks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.model-modal-container {
  font-family: "ZillaSlab";
  width: 400px;
  position: fixed;
  top: 10%;
  left: 35%;
  @include bordered($color: #ffffff, $radius: 12px);
  height: 80vh;
  overflow-y: scroll;
  z-index: 1;
  padding: 20px 0;
  box-shadow: 0 0 10px #bdaaaa;
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
  .single-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  p {
    margin: auto;
    width: fit-content;
  }
  .close-btn {
    @include button-shape;
    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }
}
