@import "mixins";

.main-modal {
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
  .modal-overlay {
    background-color: rgba(17, 25, 29, 0.64);
    bottom: 0;
    cursor: default;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.model-modal-container {
  font-family: "ZillaSlab";
  width: 400px;
  position: fixed;
  top: 10%;
  left: 35%;
  @include bordered($color: #ffffff, $radius: 12px);
  height: 80vh;
  overflow-y: scroll;
  z-index: 1;
  padding: 20px 0;
  box-shadow: 0 0 10px #bdaaaa;
  &.data-modal {
    width: 350px;
    padding: 20px;
    left: 40%;
    height: fit-content;
    text-align: center;
    overflow-y: hidden;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    input {
      @include input-box;
      height: 35px;
      padding-left: 10px;
      margin-bottom: 10px;
      width: 95%;
    }
    select {
      width: 98%;
      margin-bottom: 10px;
    }
  }
  .single-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  p {
    margin: auto;
    width: fit-content;
  }
  .btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    span {
      margin-right: 20px;
      &:hover {
        opacity: 0.85;
        cursor: pointer;
      }
    }
  }
  .add-btn {
    margin: 0 !important;
    @include button-shape;
    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }
  .close-btn {
    @include button-shape;
    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }
}
